:root {
  --clr-1: #03045e;
  --clr-2: #023e8a;
  --clr-3: #0077b6;
  --clr-4: #00b4d8;
  --clr-5: #caf0f8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Work Sans", sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(to bottom, #00f2fe 0%, #4facfe 100%);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 2rem;
}

/* NAVBAR */
.nav-container {
  background-color: rgb(87, 29, 141);
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  padding: 1rem 0;
  margin-bottom: 48px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu li {
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0 4px;
}

.nav-menu a:hover,
.nav-left i:hover,
footer a:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}

.nav-left {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hamburger {
  display: none;
}

.bar {
  background-color: white;
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

/* HERO */
.hero-container {
  display: flex;
  padding: 2rem;
}

/*left-side*/
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1.5;
  gap: 1 rem;
  padding: 1rem;
}

h1,
.hero-info p,
.hero-info h2 {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.hero-info p {
  font-style: italic;
  padding: 1rem;
  max-width: 800px;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}

.hero-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
}

.icon-container img {
  width: 4rem;
  margin-bottom: 0.3rem;
  border-radius: 15%;
}

.icon-container img:hover {
  width: 6rem;
  cursor: pointer;
  transition: 0.3s;
}

/* right side */
.hero-img {
  flex: 1;
}

.hero-img img {
  width: 400px;
  border-radius: 15%;
  padding: 2rem;
}






















/* ABOUT */
#about h2 {
  color: white;
  font-family: inherit;
  font-size: 2rem;
}

.about {
  width: 90%;
  max-width: 1100px;
  height: auto;
  background-color: rgb(160, 162, 214);
  text-align: center;
  padding: 20px 30px 50px;
  margin: 0 auto;
  box-shadow: 10px 10px 0px rgb(114, 114, 214);
  border-radius: 8px;
  position: relative;
  top: 4rem;
}

.about-section {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.about-img {
  height: 450px;
  width: 400px;
  background-image: url("../images/aboutme.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.about-text {
  height: auto;
  width: 40%;
  margin-left: 40px;
  text-align: left;
}

/* PROJECTS */
#projects {
  margin: 5%;
  width: 90%;
  height: auto;
  text-align: center;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

#projects h2, 
#contactme h2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}

.vanilla-arcade {
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  position: relative;
  border-radius: 10px;
  background-image: url("../images/vanilla-arcade.jpg");
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.project-name {
  font-size: 1.3rem;
  color: rgb(114, 114, 214);
  font-family: inherit;
}

.text {
  position: absolute;
  height: 65px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: aliceblue;
  overflow: hidden;
  transition: 0.2s;
  margin-bottom: 10px;
}

.text:hover {
  height: 175px;
  transition: 0.3s;
}

.content {
  color: black;
}

.button,
.message button {
  border: 5px solid rgb(114, 114, 214);
  background-color: rgb(160, 162, 214);
  color: rgb(41, 35, 35);
  border-radius: 10px;
  padding: 5px;
  color: black;
  text-transform: uppercase;
}

/* CONTACT */
.contact {
  width: 100%;
  height: auto;
  padding: 75px 0 50px 0;
  text-align: center;
  background-color: rgb(114, 114, 214);
}

.contact p {
  margin-bottom: 50px;
}
.contact h2, .contact p {
  color: white;
}

.contact-form {
  max-width: 1100px;
  display: flex;
  text-align: left;
  margin: 0 auto;
  color: white;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.message textarea {
  border-radius: 5px;
  border: none;
}

.contact-details {
  flex: 1;
  margin-right: 50px;
}

.contact-details input {
  width: 90%;
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.message button {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.message button:hover {
  background-color: rgb(133, 133, 173);
  color: white;
  transition: 0.2s;
}

/* FOOTER */
footer {
  background-color: rgb(87, 29, 141);
  height: 90px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  line-height: 25px;
}

/* MEDIA QUERIES */
/* NAVBAR */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    right: -100%;
    transition: 0.3s;
    background-color: rgb(87, 29, 141);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    padding: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*HERO*/
@media only screen and (min-width: 1200px) {
  .hero-info p {
    padding: 1rem 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .hero-info p {
    padding: 1rem 6rem;
  }
  .icon-container img {
    width: 4.5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .hero-info p {
    padding: 1rem 8rem;
  }
  .icon-container img {
    width: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .icon-container img {
    width: 3rem;
  }
  .hero-img {
    margin: auto;
  }
}